@using CarRental.Core.Controllers
@using Umbraco.Web
@inherits UmbracoViewPage<CarRental.Core.ViewModels.RentFormViewModel>
@{
    Layout = "~/Views/_Layout.cshtml";
}

<main role="main">

    @Html.GetGridHtml(Model.Content, "grid")

    <div class="rent">
        <div class="container">
            
            @using (Html.BeginUmbracoForm<CrSurfaceController>("SubmitRentForm", FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                @Html.AntiForgeryToken()

                <fieldset>
                    @Html.LabelFor(x => x.RentForm.BookingId)
                    @Html.TextBoxFor(x => x.RentForm.BookingId)
                    @Html.ValidationMessageFor(x => x.RentForm.BookingId)
                </fieldset>

                <fieldset>
                    @Html.LabelFor(x => x.RentForm.CarCategory)
                    @Html.DropDownListFor(x => x.RentForm.CarCategory, Model.AllCarCategories, "Välj typ av bil")
                    @Html.ValidationMessageFor(x => x.RentForm.CarCategory)
                </fieldset>

                <fieldset>
                    @Html.LabelFor(x => x.RentForm.RegistrationNumber)
                    @Html.TextBoxFor(x => x.RentForm.RegistrationNumber)
                    @Html.ValidationMessageFor(x => x.RentForm.RegistrationNumber)
                </fieldset>

                <fieldset>
                    @Html.LabelFor(x => x.RentForm.Mileage)
                    @Html.TextBoxFor(x => x.RentForm.Mileage)
                    @Html.ValidationMessageFor(x => x.RentForm.Mileage)
                </fieldset>

                <fieldset>
                    @Html.LabelFor(x => x.RentForm.PersonalNumber)
                    @Html.TextBoxFor(x => x.RentForm.PersonalNumber)
                    @Html.ValidationMessageFor(x => x.RentForm.PersonalNumber)
                </fieldset>

                <input type="submit" class="button" value="Boka" />

                <div id="message"></div>
            }

        </div>

    </div>

</main>